<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="createuser_container">
                <div class="createuser_form">
                    <form>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="My Organization">
                        </div>
                        <div class="form-group">
                            <label>Surname</label>
                            <input type="text" class="form-control" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="example@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary register_submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>