.col-12{
    display: flex;
    justify-content: center;
}

.login_container {
    width: 40%;
    padding: 0% 3%;
    box-shadow: 5px 10px #888888;
}

.login_container .login_logo {
    width: 100%;
    padding: 2%;
}

.login_container .login_logo h1 {
    font-size: 4rem;
    text-align: center;
    color: #38B7FF;
}

.login_container form .login_submit {
    margin: 2%;
}

.login_container .login__other_page {
    display: flex;
    justify-content: end;
}

.login_container .login__other_page a {
    background-color: #F9FAFB;
    font-weight: 800;
    font-size: 1.8rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}