<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="login_container">
        <div class="login_logo">
          <h1>eTaskify</h1>
        </div>
        <div class="login_form">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary login_submit">Login</button>
          </form>
        </div>
        <div class="login__other_page">
          <a routerLink="/register">Register</a>
          <a routerLink="/main">User</a>
        </div>
      </div>
    </div>
  </div>
</div>