.col-12 {
    display: flex;
    justify-content: center;
}

.main_container {
    width: 40%;
    padding: 0% 3%;
    box-shadow: 5px 10px #888888;
}


.main_container .main_logo {
    width: 100%;
    padding: 2%;
}

.main_container .main_logo h1 {
    font-size: 4rem;
    text-align: center;
    color: #38B7FF;
}


.main_navbar {
    overflow: hidden;
    width: 100%;
}

.main_navbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding: 5px;
    font-size: 1.8rem;
    text-decoration: none;
    color: #38B7FF;
}

.main_sec_navbar{
    text-align: end;
    overflow: hidden;
    width: 100%;
}

.main_sec_navbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding: 2px;
    margin: 0px 5px;
    font-size: 1.4rem;
    text-decoration: none;
    color: #11cc11;
}

.main_other_page{
    display: flex;
    justify-content: end;
}

.main_container .main_other_page a {
    background-color: #F9FAFB;
    font-weight: 800;
    font-size: 1.8rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}