<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="main_container">
                <div class="main_logo">
                    <h1>eTaskify</h1>
                </div>
                <div class="main_navbar">
                    <a routerLink="user">User</a>
                    <a routerLink="task">Task</a>
                </div>
                <div class="main_sec_navbar">
                    <a routerLink="createuser">CreateUser</a>
                    <a routerLink="createtask">CreateTask</a>
                </div>
                <div>
                    <router-outlet></router-outlet>
                </div>
                <div class="main_other_page">
                    <a routerLink="/">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>