

.task_container .task_logo{
    width: 100%;
    padding: 2%;
}

.task_container .task_logo h1{
    font-size: 4rem;
    text-align: center;
    color: #38B7FF;
}

.task_container form .task_submit{
    margin: 2%;
}

.task_container .task__other_page{
  display: flex;
  justify-content: end;
}

.task_container .task__other_page a{
    background-color: #F9FAFB;
    font-weight: 700;
    font-size: 1.8rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.task_container .task_title{
    font-family: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
}