<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="createtask_container">
                <div class="createtask_form">
                    <form>
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" placeholder="task title">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" placeholder="task description">
                        </div>
                        <div class="form-group">
                            <label>Deadline</label>
                            <input type="date" class="form-control" placeholder="yyyy-MM-dd HH:mm">
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <input type="text" class="form-control" placeholder="task status">
                        </div>
                        <button type="submit" class="btn btn-primary register_submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>