.col-12{
    display: flex;
    justify-content: center;
}
.register_container{
    width: 40%;
    padding: 0% 3%;
    box-shadow: 5px 10px #888888;
}

.register_container .register_logo{
    width: 100%;
    padding: 2%;
}

.register_container .register_logo h1{
    font-size: 4rem;
    text-align: center;
    color: #38B7FF;
}

.register_container form .register_submit{
    margin: 2%;
}

.register_container .register__other_page{
  display: flex;
  justify-content: end;
}

.register_container .register__other_page a{
    background-color: #F9FAFB;
    font-weight: 800;
    font-size: 1.8rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

