<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="register_container">
                <div class="register_logo">
                    <h1>eTaskify</h1>
                </div>
                <div class="register_form">
                    <form>
                        <div class="form-group">
                            <label>Organization Name</label>
                            <input type="text" class="form-control" placeholder="My Organization">
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="phone" class="form-control" placeholder="+994775404544">
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="James">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="example@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary register_submit">register</button>
                    </form>
                </div>
                <div class="register__other_page">
                    <a routerLink="/">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>